[submodule "slicedimage"]
	path = slicedimage
	url = git://github.com/spacetx/slicedimage.git
	branch = master
[submodule "starfish"]
	path = starfish
	url = git://github.com/spacetx/starfish.git
	branch = master
